@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inria+Sans&family=Nunito&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito';
}

body{
    background: #24211b;
    margin-bottom: 4vh;
}